In [1]:
import pandas as pd

In [2]:
Hargaemas = pd.read_csv('dataminer.csv')

In [4]:
Hargaemas

         Tanggal Nama Logam       Harga
0     30/12/2019    BUYBACK  Rp 678.000
1     30/12/2019       GOLD  Rp 762.000
2     27/12/2019    BUYBACK  Rp 678.000
3     27/12/2019       GOLD  Rp 762.000
4     26/12/2019    BUYBACK  Rp 673.000
...          ...        ...         ...
1518  05/01/2017       GOLD  Rp 547.000
1519  04/01/2017    BUYBACK  Rp 500.000
1520  04/01/2017       GOLD  Rp 546.000
1521  03/01/2017    BUYBACK  Rp 496.000
1522  03/01/2017       GOLD  Rp 546.000

[1523 rows x 3 columns]

In [5]:
Hargabeli = Hargaemas[Hargaemas["Nama Logam"] == "GOLD"]
Hargabeli

         Tanggal Nama Logam       Harga
1     30/12/2019       GOLD  Rp 762.000
3     27/12/2019       GOLD  Rp 762.000
5     26/12/2019       GOLD  Rp 758.000
7     23/12/2019       GOLD  Rp 752.000
9     21/12/2019       GOLD  Rp 752.000
...          ...        ...         ...
1514  09/01/2017       GOLD  Rp 542.000
1516  06/01/2017       GOLD  Rp 546.000
1518  05/01/2017       GOLD  Rp 547.000
1520  04/01/2017       GOLD  Rp 546.000
1522  03/01/2017       GOLD  Rp 546.000

[760 rows x 3 columns]

In [6]:
Hargajual = Hargaemas[Hargaemas["Nama Logam"] == "BUYBACK"]
Hargajual

         Tanggal Nama Logam       Harga
0     30/12/2019    BUYBACK  Rp 678.000
2     27/12/2019    BUYBACK  Rp 678.000
4     26/12/2019    BUYBACK  Rp 673.000
6     23/12/2019    BUYBACK  Rp 665.000
8     21/12/2019    BUYBACK  Rp 665.000
...          ...        ...         ...
1513  09/01/2017    BUYBACK  Rp 502.000
1515  06/01/2017    BUYBACK  Rp 506.000
1517  05/01/2017    BUYBACK  Rp 503.000
1519  04/01/2017    BUYBACK  Rp 500.000
1521  03/01/2017    BUYBACK  Rp 496.000

[763 rows x 3 columns]

In [7]:
data = {
    'Tanggal' : Hargajual.Tanggal,
    'Harga_beli' : Hargabeli.Harga,
    'Harga_jual' : Hargajual.Harga
}
data

{'Tanggal': 0       30/12/2019
 2       27/12/2019
 4       26/12/2019
 6       23/12/2019
 8       21/12/2019
            ...
 1513    09/01/2017
 1515    06/01/2017
 1517    05/01/2017
 1519    04/01/2017
 1521    03/01/2017
 Name: Tanggal, Length: 763, dtype: object,
 'Harga_beli': 1       Rp 762.000
 3       Rp 762.000
 5       Rp 758.000
 7       Rp 752.000
 9       Rp 752.000
            ...
 1514    Rp 542.000
 1516    Rp 546.000
 1518    Rp 547.000
 1520    Rp 546.000
 1522    Rp 546.000
 Name: Harga, Length: 760, dtype: object,
 'Harga_jual': 0       Rp 678.000
 2       Rp 678.000
 4       Rp 673.000
 6       Rp 665.000
 8       Rp 665.000
            ...
 1513    Rp 502.000
 1515    Rp 506.000
 1517    Rp 503.000
 1519    Rp 500.000
 1521    Rp 496.000
 Name: Harga, Length: 763, dtype: object}

In [8]:
Hargabeli = Hargabeli.reset_index()

In [9]:
Hargabeli

     index     Tanggal Nama Logam       Harga
0        1  30/12/2019       GOLD  Rp 762.000
1        3  27/12/2019       GOLD  Rp 762.000
2        5  26/12/2019       GOLD  Rp 758.000
3        7  23/12/2019       GOLD  Rp 752.000
4        9  21/12/2019       GOLD  Rp 752.000
..     ...         ...        ...         ...
755   1514  09/01/2017       GOLD  Rp 542.000
756   1516  06/01/2017       GOLD  Rp 546.000
757   1518  05/01/2017       GOLD  Rp 547.000
758   1520  04/01/2017       GOLD  Rp 546.000
759   1522  03/01/2017       GOLD  Rp 546.000

[760 rows x 4 columns]

In [10]:
Hargajual = Hargajual.reset_index()

In [11]:
Hargajual

     index     Tanggal Nama Logam       Harga
0        0  30/12/2019    BUYBACK  Rp 678.000
1        2  27/12/2019    BUYBACK  Rp 678.000
2        4  26/12/2019    BUYBACK  Rp 673.000
3        6  23/12/2019    BUYBACK  Rp 665.000
4        8  21/12/2019    BUYBACK  Rp 665.000
..     ...         ...        ...         ...
758   1513  09/01/2017    BUYBACK  Rp 502.000
759   1515  06/01/2017    BUYBACK  Rp 506.000
760   1517  05/01/2017    BUYBACK  Rp 503.000
761   1519  04/01/2017    BUYBACK  Rp 500.000
762   1521  03/01/2017    BUYBACK  Rp 496.000

[763 rows x 4 columns]

In [13]:
datasaya = pd.DataFrame(data)

In [14]:
datasaya

         Tanggal  Harga_beli  Harga_jual
0     30/12/2019         NaN  Rp 678.000
1            NaN  Rp 762.000         NaN
2     27/12/2019         NaN  Rp 678.000
3            NaN  Rp 762.000         NaN
4     26/12/2019         NaN  Rp 673.000
...          ...         ...         ...
1518         NaN  Rp 547.000         NaN
1519  04/01/2017         NaN  Rp 500.000
1520         NaN  Rp 546.000         NaN
1521  03/01/2017         NaN  Rp 496.000
1522         NaN  Rp 546.000         NaN

[1523 rows x 3 columns]

In [15]:
dataku = {
    'Tanggal' : Hargajual.Tanggal,
    'Harga_beli' : Hargabeli.Harga,
    'Harga_jual' : Hargajual.Harga
}
dataku

{'Tanggal': 0      30/12/2019
 1      27/12/2019
 2      26/12/2019
 3      23/12/2019
 4      21/12/2019
           ...
 758    09/01/2017
 759    06/01/2017
 760    05/01/2017
 761    04/01/2017
 762    03/01/2017
 Name: Tanggal, Length: 763, dtype: object,
 'Harga_beli': 0      Rp 762.000
 1      Rp 762.000
 2      Rp 758.000
 3      Rp 752.000
 4      Rp 752.000
           ...
 755    Rp 542.000
 756    Rp 546.000
 757    Rp 547.000
 758    Rp 546.000
 759    Rp 546.000
 Name: Harga, Length: 760, dtype: object,
 'Harga_jual': 0      Rp 678.000
 1      Rp 678.000
 2      Rp 673.000
 3      Rp 665.000
 4      Rp 665.000
           ...
 758    Rp 502.000
 759    Rp 506.000
 760    Rp 503.000
 761    Rp 500.000
 762    Rp 496.000
 Name: Harga, Length: 763, dtype: object}

In [16]:
datakuh = pd.DataFrame(dataku)

In [17]:
datakuh

        Tanggal  Harga_beli  Harga_jual
0    30/12/2019  Rp 762.000  Rp 678.000
1    27/12/2019  Rp 762.000  Rp 678.000
2    26/12/2019  Rp 758.000  Rp 673.000
3    23/12/2019  Rp 752.000  Rp 665.000
4    21/12/2019  Rp 752.000  Rp 665.000
..          ...         ...         ...
758  09/01/2017  Rp 546.000  Rp 502.000
759  06/01/2017  Rp 546.000  Rp 506.000
760  05/01/2017         NaN  Rp 503.000
761  04/01/2017         NaN  Rp 500.000
762  03/01/2017         NaN  Rp 496.000

[763 rows x 3 columns]

In [18]:
datakuh = datakuh.dropna()

In [19]:
datakuh

        Tanggal  Harga_beli  Harga_jual
0    30/12/2019  Rp 762.000  Rp 678.000
1    27/12/2019  Rp 762.000  Rp 678.000
2    26/12/2019  Rp 758.000  Rp 673.000
3    23/12/2019  Rp 752.000  Rp 665.000
4    21/12/2019  Rp 752.000  Rp 665.000
..          ...         ...         ...
755  12/01/2017  Rp 542.000  Rp 509.000
756  11/01/2017  Rp 546.000  Rp 507.000
757  10/01/2017  Rp 547.000  Rp 507.000
758  09/01/2017  Rp 546.000  Rp 502.000
759  06/01/2017  Rp 546.000  Rp 506.000

[760 rows x 3 columns]

In [20]:
datakuh['Tanggal'] = pd.to_datetime(datakuh['Tanggal'])

<ipython-input-20-906d203e8d84>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datakuh['Tanggal'] = pd.to_datetime(datakuh['Tanggal'])

In [21]:
datakuh.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 0 to 759
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tanggal     760 non-null    datetime64[ns]
 1   Harga_beli  760 non-null    object
 2   Harga_jual  760 non-null    object
dtypes: datetime64[ns](1), object(2)
memory usage: 23.8+ KB

In [22]:
datakuh

       Tanggal  Harga_beli  Harga_jual
0   2019-12-30  Rp 762.000  Rp 678.000
1   2019-12-27  Rp 762.000  Rp 678.000
2   2019-12-26  Rp 758.000  Rp 673.000
3   2019-12-23  Rp 752.000  Rp 665.000
4   2019-12-21  Rp 752.000  Rp 665.000
..         ...         ...         ...
755 2017-12-01  Rp 542.000  Rp 509.000
756 2017-11-01  Rp 546.000  Rp 507.000
757 2017-10-01  Rp 547.000  Rp 507.000
758 2017-09-01  Rp 546.000  Rp 502.000
759 2017-06-01  Rp 546.000  Rp 506.000

[760 rows x 3 columns]

In [23]:
for data in range(len(datakuh)):
    hasil_clean = datakuh['Harga_jual']
    print(hasil_clean)

0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000
758    Rp 502.000
759    Rp 506.000
Name: Harga_jual, Length: 760, dtype: object
0      Rp 678.000
1      Rp 678.000
2      Rp 673.000
3      Rp 665.000
4      Rp 665.000
          ...
755    Rp 509.000
756    Rp 507.000
757    Rp 507.000

In [24]:
for data in range(len(datakuh)):
    hasil_clean = datakuh['Harga_beli']
    print(hasil_clean)

0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000
758    Rp 546.000
759    Rp 546.000
Name: Harga_beli, Length: 760, dtype: object
0      Rp 762.000
1      Rp 762.000
2      Rp 758.000
3      Rp 752.000
4      Rp 752.000
          ...
755    Rp 542.000
756    Rp 546.000
757    Rp 547.000

In [55]:
datakuh

       Tanggal  Harga_beli  Harga_jual
0   2019-12-30  Rp 762.000  Rp 678.000
1   2019-12-27  Rp 762.000  Rp 678.000
2   2019-12-26  Rp 758.000  Rp 673.000
3   2019-12-23  Rp 752.000  Rp 665.000
4   2019-12-21  Rp 752.000  Rp 665.000
..         ...         ...         ...
755 2017-12-01  Rp 542.000  Rp 509.000
756 2017-11-01  Rp 546.000  Rp 507.000
757 2017-10-01  Rp 547.000  Rp 507.000
758 2017-09-01  Rp 546.000  Rp 502.000
759 2017-06-01  Rp 546.000  Rp 506.000

[760 rows x 3 columns]

In [58]:
import re
data = "Rp 250.000"

data = re.sub("[^0-9]","",data)
print(data)

250000

In [63]:
datafix = datakuh

data = re.sub("[^0-9]","",data)
print(datafix)

       Tanggal  Harga_beli  Harga_jual
0   2019-12-30  Rp 762.000  Rp 678.000
1   2019-12-27  Rp 762.000  Rp 678.000
2   2019-12-26  Rp 758.000  Rp 673.000
3   2019-12-23  Rp 752.000  Rp 665.000
4   2019-12-21  Rp 752.000  Rp 665.000
..         ...         ...         ...
755 2017-12-01  Rp 542.000  Rp 509.000
756 2017-11-01  Rp 546.000  Rp 507.000
757 2017-10-01  Rp 547.000  Rp 507.000
758 2017-09-01  Rp 546.000  Rp 502.000
759 2017-06-01  Rp 546.000  Rp 506.000

[760 rows x 3 columns]

In [66]:
datafix =datakuh['Harga_jual']

data = re.sub("[^0-9]","",datafix)
print(datafix)

TypeError: expected string or bytes-like object

In [68]:
datakuh.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 0 to 759
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tanggal     760 non-null    datetime64[ns]
 1   Harga_beli  760 non-null    object
 2   Harga_jual  760 non-null    object
dtypes: datetime64[ns](1), object(2)
memory usage: 23.8+ KB

In [83]:
datakuh["Harga_jual"].values

array(['Rp 678.000', 'Rp 678.000', 'Rp 673.000', 'Rp 665.000',
       'Rp 665.000', 'Rp 664.000', 'Rp 664.000', 'Rp 664.500',
       'Rp 664.000', 'Rp 662.500', 'Rp 663.000', 'Rp 661.000',
       'Rp 664.500', 'Rp 658.500', 'Rp 658.000', 'Rp 659.000',
       'Rp 662.500', 'Rp 668.000', 'Rp 669.500', 'Rp 670.500',
       'Rp 663.000', 'Rp 661.500', 'Rp 663.500', 'Rp 659.500',
       'Rp 659.500', 'Rp 661.000', 'Rp 658.000', 'Rp 661.500',
       'Rp 662.000', 'Rp 664.000', 'Rp 667.000', 'Rp 667.000',
       'Rp 665.000', 'Rp 664.000', 'Rp 664.000', 'Rp 665.500',
       'Rp 662.000', 'Rp 658.500', 'Rp 656.500', 'Rp 658.000',
       'Rp 658.000', 'Rp 661.000', 'Rp 669.500', 'Rp 669.500',
       'Rp 678.000', 'Rp 683.000', 'Rp 684.000', 'Rp 684.000',
       'Rp 674.000', 'Rp 670.900', 'Rp 671.000', 'Rp 679.000',
       'Rp 679.000', 'Rp 675.000', 'Rp 673.000', 'Rp 672.000',
       'Rp 673.000', 'Rp 677.000', 'Rp 678.000', 'Rp 680.000',
       'Rp 679.000', 'Rp 673.000', 'Rp 676.000', 'Rp 675.000',
       'Rp 677.000', 'Rp 679.000', 'Rp 690.000', 'Rp 687.000',
       'Rp 679.000', 'Rp 684.000', 'Rp 684.000', 'Rp 688.000',
       'Rp 685.000', 'Rp 676.000', 'Rp 672.000', 'Rp 683.000',
       'Rp 684.000', 'Rp 685.000', 'Rp 685.000', 'Rp 693.000',
       'Rp 688.000', 'Rp 685.000', 'Rp 687.000', 'Rp 680.000',
       'Rp 675.000', 'Rp 680.000', 'Rp 675.000', 'Rp 676.000',
       'Rp 668.000', 'Rp 676.000', 'Rp 676.000', 'Rp 675.000',
       'Rp 678.000', 'Rp 682.000', 'Rp 684.000', 'Rp 688.000',
       'Rp 700.000', 'Rp 699.000', 'Rp 691.000', 'Rp 695.000',
       'Rp 690.000', 'Rp 693.000', 'Rp 699.000', 'Rp 698.000',
       'Rp 694.000', 'Rp 700.000', 'Rp 692.000', 'Rp 679.000',
       'Rp 683.000', 'Rp 684.000', 'Rp 678.000', 'Rp 684.000',
       'Rp 688.000', 'Rp 694.000', 'Rp 687.000', 'Rp 682.000',
       'Rp 683.000', 'Rp 674.000', 'Rp 674.000', 'Rp 678.000',
       'Rp 679.000', 'Rp 673.000', 'Rp 666.000', 'Rp 653.000',
       'Rp 651.000', 'Rp 646.000', 'Rp 631.000', 'Rp 640.000',
       'Rp 636.000', 'Rp 634.000', 'Rp 633.000', 'Rp 631.000',
       'Rp 637.000', 'Rp 632.000', 'Rp 634.000', 'Rp 633.000',
       'Rp 632.000', 'Rp 643.000', 'Rp 634.000', 'Rp 626.000',
       'Rp 630.000', 'Rp 635.000', 'Rp 635.000', 'Rp 630.000',
       'Rp 640.000', 'Rp 628.000', 'Rp 628.000', 'Rp 629.000',
       'Rp 630.000', 'Rp 638.000', 'Rp 640.000', 'Rp 643.000',
       'Rp 623.000', 'Rp 628.000', 'Rp 634.000', 'Rp 640.000',
       'Rp 636.000', 'Rp 638.000', 'Rp 642.000', 'Rp 628.000',
       'Rp 628.000', 'Rp 631.000', 'Rp 622.000', 'Rp 613.000',
       'Rp 611.000', 'Rp 608.000', 'Rp 610.000', 'Rp 610.000',
       'Rp 604.000', 'Rp 595.000', 'Rp 595.000', 'Rp 600.000',
       'Rp 587.000', 'Rp 587.000', 'Rp 587.000', 'Rp 590.000',
       'Rp 591.000', 'Rp 587.000', 'Rp 587.000', 'Rp 588.000',
       'Rp 588.000', 'Rp 588.000', 'Rp 590.000', 'Rp 592.000',
       'Rp 592.000', 'Rp 592.000', 'Rp 592.000', 'Rp 592.000',
       'Rp 591.000', 'Rp 589.000', 'Rp 591.000', 'Rp 590.000',
       'Rp 588.000', 'Rp 587.000', 'Rp 582.000', 'Rp 583.000',
       'Rp 584.000', 'Rp 586.000', 'Rp 586.000', 'Rp 581.000',
       'Rp 577.000', 'Rp 575.000', 'Rp 575.000', 'Rp 574.000',
       'Rp 574.000', 'Rp 574.000', 'Rp 585.000', 'Rp 587.000',
       'Rp 587.000', 'Rp 587.000', 'Rp 591.000', 'Rp 590.000',
       'Rp 589.000', 'Rp 589.000', 'Rp 589.000', 'Rp 589.000',
       'Rp 589.000', 'Rp 588.000', 'Rp 588.000', 'Rp 593.000',
       'Rp 595.000', 'Rp 600.000', 'Rp 594.000', 'Rp 594.000',
       'Rp 591.000', 'Rp 599.000', 'Rp 595.000', 'Rp 594.000',
       'Rp 579.000', 'Rp 597.000', 'Rp 592.000', 'Rp 598.000',
       'Rp 598.000', 'Rp 593.000', 'Rp 591.000', 'Rp 587.000',
       'Rp 583.000', 'Rp 584.000', 'Rp 583.000', 'Rp 585.000',
       'Rp 585.000', 'Rp 592.000', 'Rp 592.000', 'Rp 596.000',
       'Rp 596.000', 'Rp 599.000', 'Rp 599.000', 'Rp 597.000',
       'Rp 603.000', 'Rp 605.000', 'Rp 599.000', 'Rp 597.000',
       'Rp 597.000', 'Rp 593.000', 'Rp 587.000', 'Rp 590.000',
       'Rp 587.000', 'Rp 589.000', 'Rp 589.000', 'Rp 587.000',
       'Rp 584.000', 'Rp 589.000', 'Rp 589.000', 'Rp 596.000',
       'Rp 597.000', 'Rp 591.000', 'Rp 586.000', 'Rp 590.000',
       'Rp 590.000', 'Rp 580.000', 'Rp 583.000', 'Rp 585.000',
       'Rp 583.000', 'Rp 584.000', 'Rp 586.000', 'Rp 586.000',
       'Rp 582.000', 'Rp 581.000', 'Rp 581.000', 'Rp 581.000',
       'Rp 581.000', 'Rp 584.000', 'Rp 578.000', 'Rp 582.000',
       'Rp 589.000', 'Rp 591.000', 'Rp 599.000', 'Rp 595.000',
       'Rp 593.000', 'Rp 594.000', 'Rp 594.000', 'Rp 586.000',
       'Rp 584.000', 'Rp 574.000', 'Rp 582.000', 'Rp 584.000',
       'Rp 577.000', 'Rp 579.000', 'Rp 583.000', 'Rp 583.000',
       'Rp 579.000', 'Rp 583.000', 'Rp 576.000', 'Rp 571.000',
       'Rp 563.000', 'Rp 563.000', 'Rp 562.000', 'Rp 566.000',
       'Rp 569.000', 'Rp 565.000', 'Rp 570.000', 'Rp 571.000',
       'Rp 575.000', 'Rp 587.000', 'Rp 572.000', 'Rp 572.000',
       'Rp 575.000', 'Rp 573.000', 'Rp 575.000', 'Rp 568.000',
       'Rp 568.000', 'Rp 575.000', 'Rp 580.000', 'Rp 587.000',
       'Rp 591.000', 'Rp 587.000', 'Rp 600.000', 'Rp 594.000',
       'Rp 598.000', 'Rp 600.000', 'Rp 600.000', 'Rp 601.000',
       'Rp 600.000', 'Rp 596.000', 'Rp 598.000', 'Rp 597.000',
       'Rp 595.000', 'Rp 598.000', 'Rp 600.000', 'Rp 595.000',
       'Rp 597.000', 'Rp 584.000', 'Rp 581.000', 'Rp 581.000',
       'Rp 587.000', 'Rp 583.000', 'Rp 581.000', 'Rp 580.000',
       'Rp 569.000', 'Rp 570.000', 'Rp 567.000', 'Rp 574.000',
       'Rp 574.000', 'Rp 572.000', 'Rp 570.000', 'Rp 576.000',
       'Rp 576.000', 'Rp 573.000', 'Rp 572.000', 'Rp 569.000',
       'Rp 571.000', 'Rp 576.000', 'Rp 573.000', 'Rp 572.000',
       'Rp 573.000', 'Rp 573.000', 'Rp 567.000', 'Rp 569.000',
       'Rp 566.000', 'Rp 565.000', 'Rp 567.000', 'Rp 564.000',
       'Rp 567.000', 'Rp 565.000', 'Rp 555.000', 'Rp 559.000',
       'Rp 557.000', 'Rp 555.000', 'Rp 550.000', 'Rp 560.000',
       'Rp 559.000', 'Rp 561.000', 'Rp 561.000', 'Rp 562.000',
       'Rp 564.000', 'Rp 562.000', 'Rp 565.000', 'Rp 561.000',
       'Rp 564.000', 'Rp 566.000', 'Rp 565.000', 'Rp 576.000',
       'Rp 576.000', 'Rp 576.000', 'Rp 568.000', 'Rp 568.000',
       'Rp 574.000', 'Rp 566.000', 'Rp 567.000', 'Rp 567.000',
       'Rp 573.000', 'Rp 571.000', 'Rp 575.000', 'Rp 572.000',
       'Rp 576.000', 'Rp 577.000', 'Rp 579.000', 'Rp 580.000',
       'Rp 577.000', 'Rp 578.000', 'Rp 569.000', 'Rp 576.000',
       'Rp 570.000', 'Rp 567.000', 'Rp 570.000', 'Rp 572.000',
       'Rp 570.000', 'Rp 564.000', 'Rp 10.240', 'Rp 575.000',
       'Rp 575.000', 'Rp 576.000', 'Rp 576.000', 'Rp 576.000',
       'Rp 584.000', 'Rp 585.000', 'Rp 587.000', 'Rp 592.000',
       'Rp 587.000', 'Rp 585.000', 'Rp 585.000', 'Rp 580.000',
       'Rp 579.000', 'Rp 580.000', 'Rp 578.000', 'Rp 585.000',
       'Rp 587.000', 'Rp 591.000', 'Rp 590.000', 'Rp 585.000',
       'Rp 582.000', 'Rp 582.000', 'Rp 579.000', 'Rp 575.000',
       'Rp 582.000', 'Rp 582.000', 'Rp 582.000', 'Rp 588.000',
       'Rp 585.000', 'Rp 585.000', 'Rp 587.000', 'Rp 591.000',
       'Rp 589.000', 'Rp 589.000', 'Rp 587.000', 'Rp 585.000',
       'Rp 590.000', 'Rp 586.000', 'Rp 586.000', 'Rp 582.000',
       'Rp 582.000', 'Rp 581.000', 'Rp 584.000', 'Rp 577.000',
       'Rp 577.000', 'Rp 582.000', 'Rp 589.000', 'Rp 587.000',
       'Rp 579.000', 'Rp 580.000', 'Rp 571.000', 'Rp 571.000',
       'Rp 571.000', 'Rp 571.000', 'Rp 575.000', 'Rp 576.000',
       'Rp 576.000', 'Rp 577.000', 'Rp 574.000', 'Rp 576.000',
       'Rp 582.000', 'Rp 573.000', 'Rp 574.000', 'Rp 574.000',
       'Rp 570.000', 'Rp 569.000', 'Rp 576.000', 'Rp 574.000',
       'Rp 574.000', 'Rp 568.000', 'Rp 567.000', 'Rp 571.000',
       'Rp 572.000', 'Rp 579.000', 'Rp 573.000', 'Rp 568.000',
       'Rp 567.000', 'Rp 568.000', 'Rp 565.000', 'Rp 569.000',
       'Rp 569.000', 'Rp 565.000', 'Rp 570.000', 'Rp 570.000',
       'Rp 564.000', 'Rp 568.000', 'Rp 565.000', 'Rp 570.000',
       'Rp 565.000', 'Rp 562.000', 'Rp 563.000', 'Rp 561.000',
       'Rp 561.000', 'Rp 566.000', 'Rp 566.000', 'Rp 567.000',
       'Rp 565.000', 'Rp 564.000', 'Rp 562.000', 'Rp 563.000',
       'Rp 563.000', 'Rp 565.000', 'Rp 561.000', 'Rp 567.000',
       'Rp 565.000', 'Rp 563.000', 'Rp 561.000', 'Rp 559.000',
       'Rp 558.000', 'Rp 553.000', 'Rp 554.000', 'Rp 552.000',
       'Rp 552.000', 'Rp 549.000', 'Rp 549.000', 'Rp 550.000',
       'Rp 545.000', 'Rp 544.000', 'Rp 544.000', 'Rp 544.000',
       'Rp 549.000', 'Rp 549.000', 'Rp 553.000', 'Rp 552.000',
       'Rp 555.000', 'Rp 558.000', 'Rp 560.000', 'Rp 558.000',
       'Rp 558.000', 'Rp 559.000', 'Rp 557.000', 'Rp 556.000',
       'Rp 561.000', 'Rp 556.000', 'Rp 556.000', 'Rp 556.000',
       'Rp 556.000', 'Rp 557.000', 'Rp 557.000', 'Rp 555.000',
       'Rp 553.000', 'Rp 555.000', 'Rp 554.000', 'Rp 557.000',
       'Rp 558.000', 'Rp 555.000', 'Rp 557.000', 'Rp 557.000',
       'Rp 552.000', 'Rp 558.000', 'Rp 555.000', 'Rp 558.000',
       'Rp 555.000', 'Rp 558.000', 'Rp 553.300', 'Rp 553.300',
       'Rp 555.000', 'Rp 560.000', 'Rp 557.000', 'Rp 558.000',
       'Rp 557.000', 'Rp 550.000', 'Rp 547.000', 'Rp 544.000',
       'Rp 544.000', 'Rp 544.000', 'Rp 545.000', 'Rp 545.000',
       'Rp 545.000', 'Rp 543.000', 'Rp 545.000', 'Rp 547.000',
       'Rp 543.000', 'Rp 544.000', 'Rp 548.000', 'Rp 545.000',
       'Rp 547.000', 'Rp 552.000', 'Rp 547.000', 'Rp 550.000',
       'Rp 550.000', 'Rp 560.000', 'Rp 562.000', 'Rp 556.000',
       'Rp 559.000', 'Rp 557.000', 'Rp 557.000', 'Rp 550.000',
       'Rp 550.000', 'Rp 553.000', 'Rp 541.000', 'Rp 539.000',
       'Rp 539.000', 'Rp 536.000', 'Rp 540.000', 'Rp 538.000',
       'Rp 540.000', 'Rp 533.000', 'Rp 535.000', 'Rp 537.000',
       'Rp 535.000', 'Rp 531.000', 'Rp 530.000', 'Rp 529.000',
       'Rp 529.000', 'Rp 534.000', 'Rp 534.000', 'Rp 534.000',
       'Rp 534.000', 'Rp 536.000', 'Rp 533.000', 'Rp 528.000',
       'Rp 529.000', 'Rp 530.000', 'Rp 528.000', 'Rp 528.000',
       'Rp 528.000', 'Rp 526.000', 'Rp 527.000', 'Rp 522.000',
       'Rp 522.000', 'Rp 522.000', 'Rp 521.000', 'Rp 520.000',
       'Rp 522.000', 'Rp 524.000', 'Rp 525.000', 'Rp 520.000',
       'Rp 529.000', 'Rp 531.000', 'Rp 530.000', 'Rp 534.000',
       'Rp 534.000', 'Rp 533.000', 'Rp 536.000', 'Rp 538.000',
       'Rp 538.000', 'Rp 541.000', 'Rp 542.000', 'Rp 544.000',
       'Rp 546.000', 'Rp 542.000', 'Rp 542.000', 'Rp 536.000',
       'Rp 535.000', 'Rp 536.000', 'Rp 536.000', 'Rp 532.000',
       'Rp 530.000', 'Rp 533.000', 'Rp 532.000', 'Rp 527.000',
       'Rp 532.000', 'Rp 526.000', 'Rp 521.000', 'Rp 521.000',
       'Rp 520.000', 'Rp 521.000', 'Rp 523.000', 'Rp 521.000',
       'Rp 524.000', 'Rp 532.000', 'Rp 533.000', 'Rp 534.000',
       'Rp 535.000', 'Rp 534.000', 'Rp 541.000', 'Rp 542.000',
       'Rp 540.000', 'Rp 544.000', 'Rp 543.000', 'Rp 540.000',
       'Rp 535.000', 'Rp 531.000', 'Rp 531.000', 'Rp 528.000',
       'Rp 531.000', 'Rp 530.000', 'Rp 529.000', 'Rp 528.000',
       'Rp 527.000', 'Rp 530.000', 'Rp 529.000', 'Rp 531.000',
       'Rp 528.000', 'Rp 527.000', 'Rp 526.000', 'Rp 525.000',
       'Rp 525.000', 'Rp 523.000', 'Rp 521.000', 'Rp 514.000',
       'Rp 516.000', 'Rp 518.000', 'Rp 539.000', 'Rp 517.000',
       'Rp 521.000', 'Rp 523.000', 'Rp 524.000', 'Rp 527.000',
       'Rp 528.000', 'Rp 528.000', 'Rp 529.000', 'Rp 530.000',
       'Rp 532.000', 'Rp 531.000', 'Rp 527.000', 'Rp 527.000',
       'Rp 527.000', 'Rp 526.000', 'Rp 527.000', 'Rp 526.000',
       'Rp 523.000', 'Rp 523.000', 'Rp 522.000', 'Rp 529.000',
       'Rp 526.000', 'Rp 526.000', 'Rp 523.000', 'Rp 517.000',
       'Rp 517.000', 'Rp 517.000', 'Rp 512.000', 'Rp 512.000',
       'Rp 508.000', 'Rp 514.000', 'Rp 517.000', 'Rp 520.000',
       'Rp 520.000', 'Rp 515.000', 'Rp 515.000', 'Rp 521.000',
       'Rp 515.000', 'Rp 513.000', 'Rp 510.000', 'Rp 509.000',
       'Rp 507.000', 'Rp 507.000', 'Rp 502.000', 'Rp 506.000'],
      dtype=object)

In [74]:
datakuh.to_csv('Datakuh.xlsx', index=False)

In [75]:
datakuh.to_csv('Datakuh.csv', index=False)

In [76]:
datakuh

       Tanggal  Harga_beli  Harga_jual
0   2019-12-30  Rp 762.000  Rp 678.000
1   2019-12-27  Rp 762.000  Rp 678.000
2   2019-12-26  Rp 758.000  Rp 673.000
3   2019-12-23  Rp 752.000  Rp 665.000
4   2019-12-21  Rp 752.000  Rp 665.000
..         ...         ...         ...
755 2017-12-01  Rp 542.000  Rp 509.000
756 2017-11-01  Rp 546.000  Rp 507.000
757 2017-10-01  Rp 547.000  Rp 507.000
758 2017-09-01  Rp 546.000  Rp 502.000
759 2017-06-01  Rp 546.000  Rp 506.000

[760 rows x 3 columns]

In [77]:
datakuh.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 0 to 759
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tanggal     760 non-null    datetime64[ns]
 1   Harga_beli  760 non-null    object
 2   Harga_jual  760 non-null    object
dtypes: datetime64[ns](1), object(2)
memory usage: 23.8+ KB

In [90]:
datakuh['Harga_jual'] = datakuh['Harga_jual'].str.replace('Rp', '')

<ipython-input-90-aefa7a42fd0a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datakuh['Harga_jual'] = datakuh['Harga_jual'].str.replace('Rp', '')

In [91]:
datakuh

       Tanggal  Harga_beli Harga_jual
0   2019-12-30  Rp 762.000    678.000
1   2019-12-27  Rp 762.000    678.000
2   2019-12-26  Rp 758.000    673.000
3   2019-12-23  Rp 752.000    665.000
4   2019-12-21  Rp 752.000    665.000
..         ...         ...        ...
755 2017-12-01  Rp 542.000    509.000
756 2017-11-01  Rp 546.000    507.000
757 2017-10-01  Rp 547.000    507.000
758 2017-09-01  Rp 546.000    502.000
759 2017-06-01  Rp 546.000    506.000

[760 rows x 3 columns]

In [92]:
datakuh['Harga_beli'] = datakuh['Harga_beli'].str.replace('Rp', '')

<ipython-input-92-b6f2d7432a63>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datakuh['Harga_beli'] = datakuh['Harga_beli'].str.replace('Rp', '')

In [93]:
datakuh

       Tanggal Harga_beli Harga_jual
0   2019-12-30    762.000    678.000
1   2019-12-27    762.000    678.000
2   2019-12-26    758.000    673.000
3   2019-12-23    752.000    665.000
4   2019-12-21    752.000    665.000
..         ...        ...        ...
755 2017-12-01    542.000    509.000
756 2017-11-01    546.000    507.000
757 2017-10-01    547.000    507.000
758 2017-09-01    546.000    502.000
759 2017-06-01    546.000    506.000

[760 rows x 3 columns]

In [94]:
datakuh.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 0 to 759
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tanggal     760 non-null    datetime64[ns]
 1   Harga_beli  760 non-null    object
 2   Harga_jual  760 non-null    object
dtypes: datetime64[ns](1), object(2)
memory usage: 23.8+ KB

In [97]:
datakuh.to_excel('Datakuh1.xlsx', index=False)

In [98]:
datakuh.to_csv('Datakuh1.csv', index=False)